* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #fff;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.intro-panel {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.825rem 1.25rem;
  background-color: #eceff1;
  border-bottom: 1px solid #ccc;
}

.nav__button {
  margin-right: auto;
}

.brand-logo {
  align-self: flex-start;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
}

.brand-logo img {
  width: auto;
  height: auto;
  max-height: 100%;
}

.results-panel__score {
  margin: 0.625rem 0 1.25rem;
  text-align: center;
}

.results-panel {
  padding: 0.312rem 1.25rem;
}

.results-panel h2{
  margin: 0;
  margin-bottom: 1.125rem;
  padding: 1rem 1.25rem;
  background: #F7F7F7;
  border-radius: 3px;
  font-size: 1.125rem;
  color: #222222;
  text-transform: capitalize;
}

.results-panel h3{
  /*margin-left: 1.125rem;*/
  margin-bottom: 0.312rem;
  font-size: 1.125rem;
  color: #222222;
}

.results-panel p {
  line-height: 1.5;
}

.description {
  color: #999;
}

.results-panel pre {
  font-size: 0.875rem;
}

.score-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.75rem;
  padding: 0.187rem 0.625rem;
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #FFFFFF;
}

.score-box--large {
  font-size: 2rem;
  padding: 0.625rem 1rem;
}

.score-box--large:after {
  content: ' /100';
  display: inline-block;
  /*vertical-align: super;*/
  margin-left: 0.312rem;
  font-size: 0.6em;
  font-weight: normal;
}

.score-box.is-unicorn {
  background: linear-gradient(-45deg, #24C6DC , #514A9D);
  color: #FFFFFF;
}

.score-box.is-good {
  background-color: #6CC466;
  color: #FFFFFF;
}

.score-box.is-ok {
  background-color: #FE885A;
  color: #FFFFFF;
}

.score-box.is-bad {
  background-color: #F1576C;
  color: #FFFFFF;
}

.advice-section {
  margin-left: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.advice-sub-section {
  border-left: 1px solid #ccc;
}

.is-amazing {
  color: #4caf50;
}

.is-good {
  color: #6CC466;
}

.is-ok {
  color: #FE885A;
}

.is-bad {
  color: #F1576C;
}

.toggle {
  cursor: pointer;
}

.toggle:after {
  content: ' \25bc';
  display: inline-block;
  margin-left: 0.625rem;
  color: #ccc;
  font-size: 0.5em;
  vertical-align: middle;
}

.toggle.is-visible:after {
  content: ' \25b2'
}

.button {
  padding: 10px 20px 10px 20px;
  background: rgba(0,151,227,0.09);
  border: 1px solid #0097E3;
  border-radius: 3px;
  color: #0097E3;
  font-size: 1.125rem;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #0097E3;
  color: #FFFFFF;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
