* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #fff;
  font-size: 1em;
}

.intro-panel {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.312rem 1.25rem;
  background-color: #eceff1;
  border-bottom: 1px solid #ccc;
}

.nav__button {
  margin-right: auto;
}

.brand-logo {
  align-self: flex-start;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
}

.brand-logo img {
  width: auto;
  height: auto;
  max-height: 100%;
}

.results-panel__score {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.results-panel {
  padding: 0.312rem 1.25rem;
}

.results-panel h2{
  margin: 0;
  padding: 0.312rem 1.25rem 0.312rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.results-panel h3{
  margin-bottom: 0.312rem;
  font-size: 1.1rem;
}

.results-panel p {
  line-height: 1.5;
}

.description {
  color: #999;
}

.results-panel pre {
  font-size: 0.875rem;
}

.advice-section {
  padding-left: 1.25rem;
}

.advice-sub-section {
  border-left: 1px solid #ccc;
}

.is-amazing {
  color: #4caf50;
}

.is-good {
  color: #8bc34a;
}

.is-ok {
  color: #ff9800;
}

.is-bad {
  color: #f44336;
}

.toggle {
  cursor: pointer;
}

.toggle:after {
  content: ' \25bc';
  display: inline-block;
  margin-left: 0.625rem;
  color: #ccc;
  font-size: 0.5em;
  vertical-align: middle;
}

.toggle.is-visible:after {
  content: ' \25b2'
}

.content-center {
  max-width: 67.5rem;
  margin: 0 auto;
}

.button {
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border: none;
  background: #30ba87;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #169e6a;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
